* {
    box-sizing: border-box;
    margin: 0;
  }
.margin-header{
    padding-top: 5rem;
}
.img1{
    height: 70vh;
    background-image: url("./photo/images6.jpg");
    border-radius: 10px;
}
.img2{
    height: 70vh;
    background-image: url("./photo/images2.jpg");
    border-radius: 10px;
}
.img3{
    height: 70vh;
    background-image: url("./photo/images3.jpg");
    border-radius: 10px;
}
.img4{
    height: 70vh;
    background-image: url("./photo/images4.jpg");
    border-radius: 10px;
}
.img5{
    height: 70vh;
    background-image: url("./photo/images5.jpg");
    border-radius: 10px;
}

  .bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

