
*{
    margin: 0;
    box-sizing: border-box;
}
.img-bg{
    background: url("../images/images7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products > p > a:hover,
.products > p > a:active{
    text-decoration: none;
}

.ft-bg{
    background: #45526e;
}