.img-bg{
    background: url("../Images/images7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-text > ul > li > a {
    color: #232121c9;
}

.nav-bg{
    background: white;
    opacity: 0.7;
}

.hover:hover,
.hover:active{
    color: black;
}