
.img-bg {
  background: url("images7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head-content {
  position: absolute;
  top: 50%;
  opacity: 0.8;
}

.head-content h1,
.head-content h5 {
  color: #c1121f;
}

.head-content p {
  color: white;
}

@media only screen and (max-width: 576px) {
  .m-width {
    width: 90%;
  }
}

.margin-header{
  padding-top: 5rem;
}

.img1{
  height: 70vh;
  background-image: url("images6.jpg");
  border-radius: 10px;
}

.img2{
  height: 70vh;
  background-image: url("images2.jpg");
  border-radius: 10px;
}

.img3{
  height: 70vh;
  background-image: url("images3.jpg");
  border-radius: 10px;
}

.img4{
  height: 70vh;
  background-image: url("images4.jpg");
  border-radius: 10px;
}

.img5{
  height: 70vh;
  background-image: url("images5.jpg");
  border-radius: 10px;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  text-align: center;
}

.bg-secondary{
  opacity: 0.9;
}



