* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  .nav-text > ul > li > a {
    color: #232121c9;
  }
  
  .nav-bg {
    background: white;
    
  }
  .active{
    background: #45526e;
  }
  .products > p > a:hover,
.products > p > a:active{
    text-decoration: none;
}

.ft-bg{
    background: #45526e;
}

.hover:hover,
.hover:active {
  background: #45526e;
  opacity: 0.5;
  color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');

